@use 'utils/variables';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	.avatar {
		width: 100px;
		height: 100px;
	}

	.removeIconContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 6px;
		right: 36px;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		cursor: pointer;
		background-color: variables.$BlackTransparent60;

		.removeIcon {
			width: 12px;
			height: 12px;
		}
	}

	.fileInput {
		display: none;
	}

	.fullName {
		margin-top: 20px;
		font-size: 18px;
	}
}
