@use 'utils/variables';

.container {
	min-height: 70px;

	.input {
		width: 100%;
		height: 30px;
		border: none;
		outline: none;
		border-bottom: 1px solid variables.$Black;
		color: variables.$Black;

		&::placeholder {
			color: variables.$LightBlue;
		}
	}

	.inputWithError {
		border-bottom: 1px solid variables.$DarkRed;
	}

	.error {
		margin-top: 8px;
		font-size: 14px;
		color: variables.$DarkRed;
	}
}
