@use 'utils/variables';

.container {
	text-align: center;
	width: 100%;
	padding: 40px 20px;

	.mediaListContainer {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
		gap: 40px;
		margin: 0 auto;
	}

	.noResultTitle {
		font-size: 16px;
		font-weight: 500;
		color: variables.$Blue;
	}

	.loader {
		margin-top: 20px;
	}
}
