@use 'utils/variables';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;

	.mediaInformationContainer {
		display: flex;
		justify-content: center;
		width: 100%;

		.verticalLine {
			width: 2px;
			height: auto;
			margin-left: 34px;
			margin-right: 10px;
			background-color: variables.$LightGrey;
		}
	}
}
