.container {
	padding: 30px 16px;

	.contentWrapper {
		display: flex;
		justify-content: space-around;
		margin-top: 100px;

		.formWrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}
