@use 'utils/variables';

.container {
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: left;
	height: 400px;
	padding: 6px;
	border-radius: 10px;
	cursor: pointer;
	background-color: variables.$LightGrey;

	.logoContainer {
		width: 100%;
		height: 160px;
		background-color: variables.$White;
		border-radius: 10px;

		.logo {
			width: 100%;
			height: 100%;
			border-radius: 10px;
		}
	}

	.mediaTitle {
		min-height: 30px;
		margin-top: 10px;
		text-align: center;
		font-size: 18px;
		font-weight: 700;
	}

	.mediaInformation {
		margin-top: 20px;
		padding: 0 10px;

		.filterTitle {
			margin-top: 4px;
			font-size: 14px;
			text-transform: capitalize;
		}

		.rateContainer {
			display: flex;
			align-items: center;

			.starIcon {
				width: 20px;
				height: 20px;
				margin-left: 6px;

				&:not(:first-of-type) {
					margin-left: 0;
				}
			}
		}
	}

	.subscribeButton {
		position: absolute;
		bottom: 6px;
		left: 6px;
		right: 6px;
		height: 40px;
	}
}
