$Black: #000000;
$White: #ffffff;

$Blue: #1d0fbf;
$BlueTransparent50: #1d0fbfb3;
$DisabledBlue: #1d0fbf;

$LightCyan: #00b2ca;
$DarkCyan: #0b2545;
$LightRed: #ff5a5f;
$LightGreen: #7dcfb6;
$DarkBlue: #134074;
$DarkBlueTransparent50: rgba(19, 64, 116, 0.5);

$BackgroundYellow: #fbd1a2;
