$White: #ffffff;
$Black: #000000;
$BlackTransparent60: #00000099;

$Blue: #205295;
$LightBlue: #2c74b3;
$SkyBlue: #bbe8fa;
$DisabledGrey: #a8afc0;

$DarkRed: #94032e;
$LightRed: #ec1818;
$PaleDarkRed: #e78587;
