$White: #ffffff;
$Black: #000000;
$BlackTransparent60: #00000099;
$LightGrey: #dddcdc;
$DisabledGrey: #a8afc0;

$Blue: #205295;
$LightBlue: #2c74b3;
$SkyBlue: #bbe8fa;

$DarkRed: #94032e;
$PaleDarkRed: #e78587;
